body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/topography.png");
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 2em;
}
.separator {
    text-size-adjust: 25px;
    text-align: center;
}
ul {
    margin: 0px;
    padding: 25px;
    list-style-type: none;
    overflow: hidden;
    
}
nav {
    background-color: #333333;
    position: sticky;
    overflow: hidden;
    top: 0px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}
li {
    display: inline;
    float: right;
    padding-left: 30px;
}
li a {
    color: #ff0099;
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    text-transform: uppercase;
    text-decoration: underline;
}
nav a:hover {
    background-color: rgba(63, 10, 10, 0.904);
    color: rgb(238, 234, 15);
}
.introduction {
    font-family: monospace;
    font-size: 30px;
}
h3 {
    font-size: 28px;
    color: #ff0099;
}
p {
    font-size: 20px;
    word-spacing: 7px;
    line-height: 1.5em;
}
h2 {
    text-align: center;
    font-size: 30px;
}